{% extends "auth/login_layout.html" %}
{% block loginContent %}
<p class="login-box-msg">Forget Password</p>
<form action="" method="post">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="email" placeholder="Email" required value="{{email}}">
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-user"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button id="vButton" name="vButton" type="submit" class="btn btn-primary btn-block">Get Verification Code</button>
    </div>
    <!-- /.col -->
  </div>
</form>
{% if codeSent %}
<br />
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  Verification code will be sent to the email if you have an account with us.<br />Please key in the verification code.
  </div>
<form action="" method="post">
  <input type="hidden" name="username" value="{{email}}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="vcode" placeholder="Verification Code" required>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input id="new_password" type="password" onkeyup="checkConfirmPasswordMatch();" class="form-control"
      name="newPassword" placeholder="New Password" required>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input id="confirm_password" type="password" onkeyup="checkConfirmPasswordMatch();" class="form-control"
      name="confirmPassword" placeholder="Confirm Password" required>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="checkPassword-lowerletter">
      <span aria-hidden="true" class="check-lowerletter"></span>
      <span class="checkPasswordText-lowerletter"></span>
    </div>
    <div class="checkPassword-upperletter">
      <span aria-hidden="true" class="check-upperletter"></span>
      <span class="checkPasswordText-upperletter"></span>
    </div>
    <div class="checkPassword-symbols">
      <span aria-hidden="true" class="check-symbols"></span>
      <span class="checkPasswordText-symbols"></span>
    </div>
    <div class="checkPassword-numbers">
      <span aria-hidden="true" class="check-numbers"></span>
      <span class="checkPasswordText-numbers"></span>
    </div>
    <div class="checkPassword-length">
      <span aria-hidden="true" class="check-length"></span>
      <span class="checkPasswordText-length"></span>
    </div>
    <div class="checkPassword-confirmPassword">
      <span aria-hidden="true" class="check-confirmPassword"></span>
      <span class="checkPasswordText-confirmPassword"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" name="submitButton" class="btn btn-primary btn-block">Submit</button>
    </div>
    <!-- /.col -->
  </div>
</form>
{% endif %}
<br />
<a href="{{ url_for('login') }}">Return back to login</a>
{% endblock %}
{% block scripts %}
{% if codeSent %}
<script>
  var time = 30;
  var flag = true;
  $('button[name="vButton"]').prop("disabled",flag);
  if (flag) {
    var timer = setInterval(function () {
      flag = false;
      if (time == 0) {
        $('button[name="vButton"]').prop("disabled",flag);
        $("#vButton").html("Get Verification Code");
        time = 30;
        flag = true;
        clearInterval(timer);
      } else {
        $("#vButton").html("Resend allowed in " + time + " seconds");
        time--;
      }
    }, 1000);
  }
</script> 
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endif %}
{% endblock %}