{% extends "auth/login_layout.html" %}
{% block loginContent %}
      <p class="login-box-msg">Update User Account Details</p>
      <form action="" method="post">

        <div class="input-group mb-3">
          <input id="new_password" type="password" onkeyup="checkPasswordMatch();" class="form-control" name="newPassword" placeholder="New Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="fullName" placeholder="Name" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="checkPassword-lowerletter">
              <span aria-hidden="true" class="check-lowerletter"></span>
              <span class="checkPasswordText-lowerletter"></span>
          </div>
          <div class="checkPassword-upperletter">
              <span aria-hidden="true" class="check-upperletter"></span>
              <span class="checkPasswordText-upperletter"></span>
          </div>
          <div class="checkPassword-symbols">
              <span aria-hidden="true" class="check-symbols"></span>
              <span class="checkPasswordText-symbols"></span>
          </div>
          <div class="checkPassword-numbers">
              <span aria-hidden="true" class="check-numbers"></span>
              <span class="checkPasswordText-numbers"></span>
          </div>
          <div class="checkPassword-length">
              <span aria-hidden="true" class="check-length"></span>
              <span class="checkPasswordText-length"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" name="submitButton" class="btn btn-primary btn-block">Submit</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}