{% extends "auth/login_layout.html" %}
{% block loginContent %}
      <p class="login-box-msg">{{'Email Verification'}}</p>
      <form action="" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="totp" placeholder="Verification Code">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">{{'Verify'}}</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
{% endblock %}