.chip {
    color: white !important;
    margin-right: 6px;
}

.Easy {
    background-color: green !important;
}
.Medium {
    background-color: orange !important;
}
.Hard {
    background-color: orangered !important;
}

.Algorithms {
    background-color: purple !important;
}
.Databases { 
    background-color: darkblue !important;
}
.Shell {
    background-color: darksalmon !important;
}
.Concurrency {
    background-color: royalblue !important;
}