.skeletonContainer {
    display: grid;
}

.skeletonLoader {
    height: 20em !important;
}

@media only screen and (min-width: 900px) {
    .skeletonLoader {
        width: 25em !important;
        height: 25em !important;
    }
}